body{
margin:0;
font-family:system-ui;
background:#0b1220;
color:white;
}

.top{
display:flex;
justify-content:space-between;
padding:10px;
}

.clock{
text-align:center;
margin-top:30px;
}

#time{
font-size:80px;
font-weight:bold;
}

.weather{
text-align:center;
margin-top:20px;
}

#icon{
font-size:80px;
animation:pulse 2s infinite;
}

@keyframes pulse{
50%{transform:scale(1.1);}
}

.block{
margin:20px;
padding:20px;
background:rgba(255,255,255,0.08);
border-radius:20px;
text-align:center;
}

input,button{
padding:10px;
border-radius:10px;
border:none;
margin:5px;
}

button{
background:#3b82f6;
color:white;
}

/* MAP */
#mapBox{
display:none;
padding:10px;
}

#map{
height:300px;
margin-top:10px;
border-radius:15px;
}